<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <div class="container">
            <%- include('./partials/navbar') %>
            <h1>Home</h1>
            <%- include('./partials/scripts') %>
        </div>
    </body>
</html>
